<div class="profile-page">
  <div class="user-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img class="user-img" src="{{#if profile.avatarURL}} {{profile.avatarURL}} {{else}} https://static.productionready.io/images/smiley-cyrus.jpg {{/if}}">
          <h4>{{profile.name}}</h4>
          <p class="col-md-6 offset-md-3 col-xs-12">{{profile.bio}}</p>
          <button class="btn btn-sm action-btn btn-outline-secondary"># Button</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item"><a class="nav-link active" href="#">Info</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Blank</a></li>
          </ul>
        </div>
        
        <div class="article-preview">
          <div class="article-meta">
            <ul><!-- class="col-xs-12 col-md-10 offset-md-1" -->
              <li><b>Gender:</b> {{profile.gender}}</li>
              <li><b>Birthday:</b> {{profile.birthday}}</li>
              <li><b>Phone number:</b> {{profile.tel}}</li>
              <li><b>City:</b> {{profile.city}}</li>
            </ul>
            <div class="pull-xs-right">
              <button id="edit-profile-button" class="btn btn-sm btn-outline-primary">Edit profile</button>
              <button id="delete-profile-button" class="btn btn-sm action-btn btn-outline-secondary">Delete profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="edit-profile-page" class="overlay"></div>
</div>